/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Plus Jakarta Sans](https://fonts.google.com/specimen/Plus+Jakarta+Sans)
- Weights: 500, 800 */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --veryLightGrayishBlue: hsl(210, 60%, 98%);
    --lightGrayishBlue1: hsl(211, 68%, 94%);
    --lightGrayishBlue2: hsl(205, 33%, 90%);
    --grayishBlue:  hsl(219, 14%, 63%);
    --darkGrayishBlue: hsl(219, 12%, 42%);
    --darkBlue: hsl(224, 21%, 14%);
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--veryLightGrayishBlue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 45rem; 
    height: 47.5rem; 
    margin: 2rem 0px;
    padding: 1.5rem 1.5rem;
    background-color: var(--white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p {
    color: var(--grayishBlue);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    margin-bottom: 10px;
}

header {
    font-size: 1.3rem;
    font-weight: 800;
    
}

.boxNotif {
    display: inline-block;
    background-color: var(--blue);
    font-weight: 500;
    font-size: 1rem;
    width: 1.75rem;
    height: 1.8rem;
    color: white;
    border-radius: 5px;
    margin: 0px 5px;
    padding: 5px;
    vertical-align: text-top;
    text-align: center;
   
}


#markAllRead {
    color: var(--darkGrayishBlue);
}

.notifications {
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 1rem;
}

.notificationImages {
    width: 2.5rem;
    margin: .850rem;
}

.bold {
    font-weight: 800;
    color: initial;
}

#rizkyProfile {
    height: 9rem;
}

.rizkyNotif {
    display: flex; 
    flex-direction: column;
}
.messageContent {
    display: block;
    margin: 10px 0px 0px;
    border: 1px solid var(--grayishBlue);
    padding: .875rem;
}

.notifications:nth-child(-n + 4) {
    background-color: var(--veryLightGrayishBlue);
}

.dot {
    width: 10px;
    height: 10px;
    background-color: var(--red);
    margin: 10px;
    border-radius: 50%;
}
.darkBlue {
    color: var(--blue);
}

.darkGrayBlue {
    color: var(--darkGrayishBlue);
}